.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelFile{
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: white;
    background-color: #417690;
    display: inline-block;
    margin: 0 0 30px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}


.labelFile:hover{
    cursor: pointer;
    background-color: #79aec8;
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;    
}


.image-preview{
    width: 130px;
    height: 130px;
}